{% extends "layout.html" %}
{% block title %}{{ad.raw["title"]}} - Politisk annons{% endblock %}
{% block body %}
    <div class="container">
      <div class="row">
	<div class="col-md-12 text-left">
	  {% if ad %}
	      <div id="#ads" class="ads mt-2">
		    <div class="ad">
		      <div class="message">
			{% autoescape false %}
			    {{ad.raw["html"]}}
			{% endautoescape %}
		      </div>
		      <div class="ad-metadata">
			<a class="permalink" href="/ad/{{ad.fbid}}">Permalänk till {{ad.fbid}}</a>
			<p>Sågs först: <time datetime="{{ad.created_at}}">{{ad.created_at.strftime('%Y-%m-%d')}}</time></p>
		      </div>
		      <div class="targeting_info">
			<div class="targeting">
			  <h3>Målgruppsinformation</h3>
			  {% autoescape false %}
			      {% if ad.raw["targetings"] %}
				  {% for targeting in ad.raw["targetings"] %}
				      <div>
					{{targeting}}
				      </div>
				  {% endfor %}
			      {% else %}
				{% if ad.raw["targeting"] is defined %}
				      <div>
					{{ad.raw["targeting"]}}
				      </div>
			        {% endif %}
			      {% endif %}
			  {% endautoescape %}
			</div>
		      </div>
		    </div>
	      </div>
	  {% endif %}
	</div>
      </div>
    </div>
{% endblock %}
