{% extends "layout.html" %}
{% block title %}
    Politisk annonsering på Facebook
{% endblock %}
{% block body %}
    <section class="jumbotron text-center">
      <div class="container">
	<h1 class="jumbotron-heading">Sajten är offline för tillfället</h1>
	<p class="lead">Politisk annonsering kan idag vara målgruppsanpassad på detaljnivå. I detta transparensinitativ har jag tagit hjälp av frivilliga och verktyg från ProPublica för att samla in politiska Facebookannonser från den svenska valrörelsen. De har samlats in så att journalister, forskare och andra kan granska vad som sagts.
     Genom att visa dem här kan vi lära oss mer om hur politisk annonsering på Facebook går till och vilka budskap som riktas till andra målgrupper än de man själv ingår i.</p>
	<p class="lead">Nyligen fick jag ett kravbrev angående upphovsrättsersättning för bildmaterial som en politisk annonsör har använt på Facebook och som därmed visades på sajten. I avvaktan 
    på utredning är sajten offline.</p>
	<div class="row" role="main">
	  <div class="col-md-4 offset-md-4">
	    <a href="https://projects.propublica.org/political-ad-collector/" class="btn btn-lg btn-primary btn-block" role="button">Läs mer om samma projekt hos ProPublica.</a>
	  </div>
	</div>
      </div>
    </section>
{% endblock %}