<!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Politisk annonsering på Facebook">
    <meta property="og:url" content="https://www.politiskannonsering.se/">
    <meta property="og:description" content="Se hur politisk annonsering sker på Facebook inför valet">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.politiskannonsering.se/static/fb_politiska_annonser_banner.jpg">
    <meta name="description" content="Se hur politisk annonsering sker på Facebook inför valet">
    <meta name="author" content="Peter Krantz">
    <meta name="referrer" content="no-referrer">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/adstyle.css') }}" rel="stylesheet">
  </head>

  <body class="text-center">
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color: #3F7FBF;">
      <a class="navbar-brand" href="/">Politiska annonser</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Visa/dölj meny">
    <span class="navbar-toggler-icon"></span>
  </button>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
	<li class="nav-item">
	  <a class="nav-link active" href="/om-insamlingen">Om insamlingen</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link active" href="https://www.peterkrantz.se/">Kontakt</a>
	</li>
      </ul>
    </div>
    </nav>
    {% block body %}{% endblock %}
    <p class="mt-5">Ser du inga annonser? Missa inte att stänga av din adblocker.</p>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
